body {
	  background-color: #000000;
	  background-image: url("");
	  margin-top: 1%;
	  margin-right: 15%;
	  margin-left: 15%;
	  margin-bottom: 1%;
	}
h1 { font-family: ubuntu, cantarell, verdana, sans-serif; font-style: normal; font-variant: normal; font-weight: bold; font-size: 30pt;
		color: #ffffff;
		background-color: #000000;
		
	}
h2 { 
		color: #ffffff;
		font: normal normal bold 20pt ubuntu, cantarell, verdana, sans-serif;
		
	}
h3 {
	color: #ffffff;
	font: normal normal bold 15pt ubuntu, cantarell, verdana, sans-serif;
	
	}
p { 
	font-family: verdana, sans-serif;
	text-indent: 30px;
	text-align: justify;
	color: white;
	}
table {
	width:100%;
	}
table.panelprincipal {
	background: #2E2E2E;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
td {	
	text-align: center;
	color: white;
	font-family: verdana, sans-serif;
	border-width: 1px;
	border-style: solid;
	border-color: #424242;
	}
td.tdclass {
	width: 20%;
	font-weight: bold;
	border-style: hidden;
	}
a {
	text-decoration: none;
	font-family: ubuntu, cantarell, verdana, sans-serif;
	
	}
a.panel:hover {
	color: black;
	background-color: #F2F2F2;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 8px;
	padding-bottom: 8px;
}
a:hover {
	font-weight: bold;
	}
a:visited {
	color: white;	
	}
a:link {
	color: white;	
	}
#espaciom {
	text-decoration: underline;
}

#comunidad {
	width:60%;
	position:relative;
	left:20%
		
	}
#cssvalidator {
	float: right;
}

@media screen and (max-width: 400px){
	.textocelda{
	font-size: 5pt;
	}
	.imagentabla{
	width:70%
	}
	body {
	  margin-top: 1%;
	  margin-right: 3%;
	  margin-left: 3%;
	  margin-bottom: 1%;
	}
	h1{
	font-size: 19pt;
	}
	h2{
	font-size: 14pt;
	}
	p{
	font-size: 11pt;
	text-indent: 15px;
	}
	td.tdclass {
	width: 20%;
	font-weight: normal;
	border-style: hidden;
	font-size: 9pt;
	}
	table.panelprincipal {
	background: #2E2E2E;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 7px;
	padding-bottom: 7px;
	}
	a.panel:hover {
	color: black;
	background-color: #F2F2F2;
	padding-left: 0;
	padding-right: 0;
	padding-top: 11px;
	padding-bottom: 11px;
	}
	a:hover {
	font-weight: normal;
	}
	}
	
